DistributedComputing/secondpart/lab_1/src/main/java/second/module/first/shop.dtd

<!ELEMENT Shop (Genre*)>
        <!ELEMENT Genre (Movie*)>
        <!ELEMENT Movie (#PCDATA)>
        <!ATTLIST Genre
                id ID #REQUIRED
                name CDATA #REQUIRED
                >
        <!ATTLIST Movie
                id ID #REQUIRED
                genreId IDREF #REQUIRED
                name CDATA #REQUIRED
                releaseYear CDATA #REQUIRED
                >